<%- layout('layouts/boilerplate') %>
<div class="container mt-3">
    <div class="col-md-6 offset-md-3 position relative">
        <div class="col-md-6 offset-md-3">
            <div class="justify-content-center position-absolute top-50 start-50 translate-middle">
                        <div class="card" style="width: 19rem;">
                            <div class="card-body">
                                <div class="card-title">
                                    <p>Order Id:</p>
                              <h5 class="card-title"><%= order._id %> </h5>
                            </div>
                              <form
                              action="/orders/<%=order._id  %>?_method=PATCH"
                              method="post"
                              class="needs-validation"
                              novalidate
                              id="form"
                              >
                                  
                                  <div class="form-group mb-3">
                                      <label for="status">Staus</label>
                                      <select name="status" id="status" class="form-select">
                                      <option value="Pending" selected>Pending</option>
                                      <option value="Fullfilled">Fullfilled</option>
                                      <option value="Cancelled">Cancelled</option>
                                  </select></div>
                                  </div>
                                  <div class="d-flex justify-content-center">
                                  <button type="submit" class="btn btn-success btn-block">Submit</button>
                                  </div>
                              </form>
                            </div>
                          </div>   
                   
                    
                </div>
            </div>
        </div>
  </div>
</body>
